<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test thread-count="1" name="Test">
   <classes>
      <class name="com.selenium.project4.TestCase1"/>
      <class name="com.selenium.project4.Airline"/>
      <class name="com.selenium.project4.FlipkartTestng"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
