<?xml version="1.0" encoding="UTF-8"?>
<bean xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans 
                http://www.springframework.org/schema/beans/spring-beans.xsd">
 
        
     <bean id="savingacc" class="com.marticus.Savings" /> 
     <bean id="currentacc" class="com.marticus.Current">
        
     <bean id="Account" class="com.marticus.Account" />
     	<constructor-arg ref="savingacc"/>     
     </bean>  
     
</bean>